* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: rgb(13, 13, 13);
  color: rgb(218, 218, 218);
  text-align: center;
  padding: 20px 50px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.bar-item {
  flex-grow: 1;
}

.space {
  flex-grow: 8;
}
