* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: rgb(13, 13, 13);
  color: rgb(218, 218, 218);
  text-align: center;
  padding: 20px 50px;
}
/* navigation */

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.bar-item {
  flex-grow: 1;
}

.space {
  flex-grow: 8;
}

/* form section  */

.form-box {
  max-width: 500px;
  width: 100%;
  border: 2px solid rgb(218, 218, 218);
  margin: 120px auto;
  padding: 50px 40px 60px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  max-width: 280px;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(112, 112, 112);
  margin: 15px auto;
}

::placeholder {
  color: rgb(112, 112, 112);
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  text-align: center;
}

.btn {
  max-width: 120px;
  width: 100%;
  padding: 10px;
  background-color: rgb(218, 218, 218);
  color: rgb(13, 13, 13);
  border: none;
  margin: 20px auto;
}

/* agreement  */

.consent-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  padding: 10px;
  position: relative;
}

.checkbox {
  order: 1;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(151, 151, 151);
  border: 2px solid rgb(177, 177, 177);
}

.container {
  color: rgb(112, 112, 112);
  order: 2;
  width: 95%;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.container:hover input ~ .checkmark {
  background-color: rgb(64, 72, 100);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
